* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

footer {
  background-color: #00a8c7;
  color: white;
  font-size: 2.5rem;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

.img1{
  width: 100%;
  height: auto;
  margin: auto;
}

.flexwrap{
  display: flex;
  flex-direction: row;
}

.wrapperIMG{
  display:flex;
  flex-direction:row;
  width: 40%;
  height: 300px;
  margin: auto;
  border: 1px red solid;
}

.wrapper{
  display:flex;
  flex-direction:row;
  width: 50%;
  height: 300px;
  margin: auto;
  border: 1px red solid;
}


.flex-container{
  height: 25%;
  width: 100%;
  padding-top: 10em;
  padding-right: 10em;
  float: right;
}

.flex-item1{
  display:flex;
  flex-direction:row-reverse;
  width: 80%;
  margin: auto;
  align-items: center;
}

.flex-item2{

}

.text{
  color: white;
  font-size: 2em;
  font-weight: normal;
}

.imgsize{
  height: 300px;
  width: auto;
  margin-left: 100px;
}

