.bold {
  font-weight: bold;
}

p {
  color: #4d4d4db6;
}

h1 {
  font-size: 24px;
  color: blue;
}

h2 {
  font-size: 20px;
  color: #0000ff;
}

h3 {
  font-size: 16px;
  color: teal;
}

.style {
  font-style: italic;
}

/* Hier boven is opdracht 4.1 en eronder is 4.2*/

header {
  width: 100%;
  height: 33%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1662638178949-01ea12757b44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=883&q=80");
}

header > h1,
p {
  color: rgb(128, 0, 0);
}

img {
  width: 50%;
  height: 50%;
}

article {
  border-radius: 12px;
  border: purple 1px solid;
  border-left-width: 4px;
}
